/node_modules/
/lib/
/test/
custom-elements.json
dx-terminal.js
dx-terminal.js.map
dx-terminal.d.ts
dx-terminal.d.ts.map
styles.js
styles.js.map
styles.d.ts
styles.d.ts.map
terminals.js
terminals.js.map
terminals.d.ts
terminals.d.ts.map
notes
# only generated for size check
dx-terminal.bundled.js